<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ack.adventureandconquer" >

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".ui.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.EncounterDetailActivity"
            android:label="@string/title_activity_encounter_detail"
            android:parentActivityName=".ui.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.MainActivity" />
        </activity>
        <activity
            android:name=".ui.EncounterListActivity"
            android:label="@string/title_activity_encounter_list"
            android:parentActivityName=".ui.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.MainActivity" />
        </activity>
        <activity
            android:name=".ui.character.LoginActivity"
            android:label="@string/title_activity_login"
            android:parentActivityName=".ui.MainActivity"
            android:windowSoftInputMode="adjustResize|stateVisible" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.ack.adventureandconquer.ui.MainActivity" />
        </activity>
        <activity
            android:name=".ui.character.CharacterOverview"
            android:label="@string/title_activity_character_overview" >
        </activity>
        <activity
            android:name=".ui.character.CreateCharacterActivity"
            android:label="@string/title_activity_create_character"
            android:parentActivityName=".ui.character.CharacterOverview" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.ack.adventureandconquer.ui.character.CharacterOverview" />
        </activity>
    </application>

</manifest>
